:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.mainArea {
}

button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;

  border-color: #ffac64;
  background-color: #ffffff;
  color: #ffac64;
}
button:hover {
  color: #ffffff;
  background-color: #ffac64;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navArrow {
  border: none;
  cursor: pointer;
}

.footer {
  font-size: small;
}

a {
  font-weight: 500;
  color: #ffac64;
  text-decoration: inherit;
  border: 1px solid;
  padding: 0.5em 1em;
  border-radius: 30px;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
  background-color: #ffac64;
}

.learnMore {
  margin-top: 3rem;
}

.aboutPage {
  text-align: left;
}

.header:hover {
  color: #ffac64;
  cursor: pointer;
}

.aboutHeader {
  display: flex;
  align-items: center;
}

.aboutBackArrow {
  margin-right: 1rem;
}

.aboutBackArrow:hover {
  cursor: pointer;
  margin-right: 1rem;
}

h1 {
  font-weight: 250;
}
